.chat-container {
  flex: 1;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-box {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 7.5px;
  font-size: 0.95rem;
  line-height: 1.4;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
}

.user {
  align-self: flex-end;
  background-color: #eeccba;
  border-bottom-right-radius: 0;
}

.bot {
  align-self: flex-start;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 0;
}

.chat-form {
  display: flex;
  padding: 12px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  gap: 10px;
}

.user-input {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.btn-upload {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.btn-upload:hover {
  background-color: #ddd;
}

.btn-upload .material-icons {
  font-size: 24px;
  color: #555;
}


.btn-send {
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  background-color: #d77e5e;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-send:hover {
  background-color: #a03a2e;
}

/* Oculta ambas vistas por defecto */
.page-content {
  display: none;
}

/* Muestra solo la vista que esté activa */
.page-content.active {
  display: flex; 
}

#load-data-view {
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; /* Para apilar el título y el botón */
  padding: 2rem;
}

#load-data-view .btn-upload-page {
  background-color: #007bff; /* Un color de ejemplo */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 8px; /* Espacio entre icono y texto */
  margin-top: 20px;
}

#load-data-view .btn-upload-page:hover {
  background-color: #0056b3;
}